h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
header{
    text-align: center;
    color: sienna;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
     margin-top: 20px;
     margin-bottom: 10px;
     
}
header nav img{
    width: 100px;
border-radius: 100%;
}

header li{
    margin: 10px;
    font-size: 20px;
}
#intro .jumbotron{
    height: 60vh;
}
#intro .col-md-12 {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#intro img{
    width: 100%;
    height: 100%;
}
#intro li img{
   padding: 10px;
   margin-top: 10px;
}
#intro h1{
    color: white;
}
#intro p{
    color: white;
}
#intro ul img{
    width: 300px;
}  
#intro ul{
    list-style: none;
    list-style-image: -moz-repeating-linear-gradient();
}

footer{
    text-align: center;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
#coffee-product h3{
    margin-top: 40px;
}
#coffee-product img{
    max-width: 100%;
}
#coffee-product .innertext{
    position:absolute;
    bottom: 10px;
   right: 10px;
}
#coffee-product .upper{
    position:relative;
}
#coffee-product a{
    text-decoration: none;
    color: inherit;
}
#aboutus img{
    margin-left: 10vh;
    margin-right: 10vh;
    width: 100%;
    height: 100%;
    padding-right: 30px;
}
#aboutus h1{
    color: rgb(131, 85, 16);
   
}
#aboutus p{
    color: dimgray;
    margin-top: 20px;
}
#aboutus li{
    list-style: none;
}
#aboutus ul{
 text-align: -webkit-left;
 margin-left: 10px;
 margin-top: 250px;
}
